    <!--======================================-->
    <!--Seccion de carrousell con nombre-->
    <!--======================================-->
    
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-text">
            <h2>Nicolas Pozzer</h2>
            <p>Fullstack Developer Jr.</p>
            <!--boton lapiz editar nombre-->
            <app-edit-name-carousel></app-edit-name-carousel>
          </div>
        <div class="carousel-inner">
            
          
          <div class="carousel-item active">
            <app-edit-carousel1></app-edit-carousel1>
            
            <img src="./assets/img/slide1.jpg" class="d-block w-100" alt="slide1">
 
          </div>

          <div class="carousel-item">
            <app-edit-carousel2></app-edit-carousel2>
            <img src="./assets/img/slide2.jpg" class="d-block w-100" alt="slide2">
          </div>

          <div class="carousel-item">
            <app-edit-carousel3></app-edit-carousel3>
            <img src="./assets/img/slide3.jpg" class="d-block w-100" alt="slide3">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

<app-carousel1></app-carousel1>
<app-carousel2></app-carousel2>
<app-carousel3></app-carousel3>


<app-name-carousel></app-name-carousel>
