    <!--======================================-->
    <!--Encabezado-->
    <!--======================================-->
    

    <nav class="navbar navbar-expand-lg bg-body-tertiary"> <!-- con p-3 dentro de la class esta de al lado cambiamos el tamaño de la navbar-->
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./assets/img/APLogo-20-20.png" class="rounded" alt="" width="90" height="48">
              </a>
              
                <!--Selector redes-->
              <app-redes></app-redes>


        </div>
    </nav>

    <app-login></app-login>
            
