          <!-- modal cambiar foto-->
          <div class="modal fade" id="imagenslide1-modal" tabindex="-1" aria-labelledby="imagenslide2-modalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="imagenslide1-modalLabel">Cambiar imagen</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Selecciona imagen..</label>
                            <input class="form-control" type="file" id="formFile">
                          </div>
                          
                        <button type="submit" class="btn btn-primary">Guardar</button>
                      </form>
                </div>
                
              </div>
            </div>
          </div>