/*==========================*/
/*COLORES LOGOS REDES*/
/*==========================*/

/*USER LOGIN*/
.fa-solid.fa-user-lock.fa-2xl:hover{
    color: darkgreen;
}

/*USER LOGOUT*/
.fa-solid.fa-user-gear.fa-2xl:hover{
    color: darkgreen;
}




/*LINKEDIN*/
.fa-brands.fa-linkedin.fa-2xl:hover{
    color: rgb(7, 145, 209);
}
/*GITHUB*/
.fa-brands.fa-github.fa-2xl:hover{
    color:#d1d1d1;
}

/*INSTAGRAM*/
.fa-brands.fa-instagram.fa-2xl:hover{
    color: rgba(255, 0, 106, 0.397);


}

/*borra recuadro de cada red*/
.list-group{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}