           <!-- ModalNombre y descript-->
           <div class="modal fade" id="nombre-modal" tabindex="-1" aria-labelledby="about-modalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="avatar-modalLabel">Informacion sobre mi</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Escribe Nombre..</label>
                            <input class="form-control" type="text" id="formFile">
                          </div>
                          <div class="mb-3">
                            <label for="formFile" class="form-label">Escribe Descripcion..</label>
                            <input class="form-control" type="text" id="formFile">
                          </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                      </form>
                </div>
                
              </div>
            </div>
          </div>